---
name: Docker Image Build

'on': push

jobs:
  build_image:
    runs-on: ubuntu-latest
    # needs: test
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.3
      - name: build and push
        uses: docker/build-push-action@v2.0.1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: atlascloud/mongorestore-s3
          tags: latest
          tag_with_ref: true
          tag_with_sha: true
          add_git_labels: true
